<a href="https://colab.research.google.com/github/PomesHouse/SkillTreePython-DataAnalysis/blob/main/01.%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%B4%88/10_%EC%A0%84%EC%B2%98%EB%A6%AC%EC%8B%A4%EC%8A%B5_SanFranciscoCrime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch10. 전처리 실습 - San Francisco Crime
---
* 날짜:
* 이름:

**소개**

  - [산프란시스코 범죄 데이터셋](https://www.kaggle.com/c/sf-crime) 전처리를 진행 합니다.
  - [파이썬 데이터전처리 실습-San francisco crime](https://wikidocs.net/86627)를 참고하여 전처리를 진행 합니다.
  - 향후 이 코드를 이어서 사용하니 코드를 잘 정리해 주세요.

## 데이터 전처리
---

In [ ]:
import pandas as pd
import numpy as np

#### 01. csv 파일을 데이터프레임으로 읽기

In [ ]:
# pd.read_csv('경로 및 파일 이름')을 통하여 csv 파일을 DataFrame으로 불러온다
train = pd.read_csv('train.csv')

#### 02. 학습 데이터 셋의 상위 5개 항목 출력

In [ ]:
train.head()
# .head() 함수를 이용해서 header을 포함한 처음 5개의 row를 확인한다. 
# 총 9개의 컬럼이 있고 각각의 values들이 어떤 모습을 하고 있는지 확인할 수 있다.

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

#### 03. 학습 데이터 셋의 각 필드 데이터 분포(평균, 최소값, 최대값 등)를 살펴보기

In [ ]:
train.describe()

# .describe() 함수를 통해서 각 column들의 기본 통계 정보를 출력한다. 
# 대부분의 column의 dtype이 object라서 X와 Y column의 통계 정보만 확인 할수 있다. 
# 평균과 최소값, 최대값을 보았을 때
# San Francisco라는 특정 지역의 crime이라서 데이터의 위도와 경도차이가 거의 없다.

                   X              Y
count  878049.000000  878049.000000
mean     -122.422616      37.771020
std         0.030354       0.456893
min      -122.513642      37.707879
25%      -122.432952      37.752427
50%      -122.416420      37.775421
75%      -122.406959      37.784369
max      -120.500000      90.000000

#### 04. 각 컬럼의 데이터 타입 확인하기

In [ ]:
# .info()함수를 통해서 데이터에 대한 개략적 정보를 확인한다. 
train.info()

# 위에서 확인했던대로 위도, 경도의 경우만 수치형데이터이고
# 나머지는 object type임을 알 수 있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Dates       878049 non-null  object
 1   Category    878049 non-null  object
 2   Descript    878049 non-null  object
 3   DayOfWeek   878049 non-null  object
 4   PdDistrict  878049 non-null  object
 5   Resolution  878049 non-null  object
 6   Address     878049 non-null  object
 7   X           878049 non-null  float64
 8   Y           878049 non-null  float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

#### 05. 범죄의 범주 'Category'는 어떤 값이 있는지 확인하기

In [ ]:
# .unique() 함수를 통해서 'Category' 컬럼의 단일값을을 확인해본다.
train['Category'].unique()

# 아동납치나, 자동차 절도 등등 다양한 범죄의 범주가 있다.

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING',
       'SEX OFFENSES NON FORCIBLE', 'EXTORTION', 'GAMBLING', 'BAD CHECKS',
       'TREA', 'RECOVERED VEHICLE', 'PORNOGRAPHY/OBSCENE MAT'],
      dtype=object)

#### 06. Dates 필드의 데이터타입을 'datetime64' 타입으로 변경하기

In [ ]:
# 기존 dtype이 object인 'Dates' 컬럼의 정보의 분석을 더 용이하게 하기 위해서 
# 인덱싱과 .astype함수를 사용하여 datetime64 타입으로 변경해준다. 
train['Dates'] = train['Dates'].astype('datetime64')

#### 07. 연, 월, 일, 요일, 시, 분값을 새로운 컬럼(year, month, day, dayofweek, hour, minute)을 생성해서 할당하기

In [ ]:
# 연/월/일/요일/시/분 에 해당하는 컬럼을 만들어주고 'Dates' 컬럼으로부터 
# 해당하는 데이터를 인덱싱과 dt.year/month/day/dayofweek/hour/minute 함수를 이용하여 할당한다. 
train['year'] = train['Dates'].dt.year
train['month'] = train['Dates'].dt.month
train['day'] = train['Dates'].dt.day
train['dayofweek'] = train['Dates'].dt.dayofweek
train['hour'] = train['Dates'].dt.hour
train['minute'] = train['Dates'].dt.minute

#### 08. 범죄가 발생한 경도, 위도 값을 나타내는 X, Y 컬럼의 값을 더한 값을 담은 'X+Y' 컬럼, X, Y의 차이 값을 담은 'X-Y' 컬럼을 생성하기

In [ ]:
# 경도,위도 값을 더한 칼럼과 차이 값을 담은 컬럼을 생성하고,
# 컬럼사이의 연산을 통하여 새로 만든 컬럼에 해당하는 값을 할당해준다. 
train['X+Y'] = train['X'] + train['Y']
train['X-Y'] = train['X'] - train['Y']

In [ ]:
# 중간확인
train.head(3)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,year,month,day,dayofweek,hour,minute,X+Y,X-Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,2,23,33,-84.623949,-160.224777

#### 09. n_days라는 컬럼을 생성하고, 일별 d-day를 계산하여 입력하기

In [ ]:
# 각 범죄일의 d-day를 계산하기 위해, 각각의 날짜에서 가장 작은 날짜 값을 빼준다. 
# lambda x:x.days 함수의 return 값을 컬럼에 일괄적으로 적용하기 위해 .apply()함수를 활용한다. 
train['n_days'] = (train['Dates'].dt.date - train['Dates'].dt.date.min()).apply(lambda x: x.days)

In [ ]:
# 컬럼 생성 확인
train.head(3)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,year,month,day,dayofweek,hour,minute,X+Y,X-Y,n_days
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490,4510
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490,4510
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,2,23,33,-84.623949,-160.224777,4510

#### 10. 변수 y를 선언해서 학습할 목표변수(=종속변수)인 Category 필드값을 담기

In [ ]:
# 'Category' 컬럼을 인덱싱하여 y라는 새로운 변수에 바인딩해준다. 
y = train['Category']

#### 11. 연도별(year) 범죄 발생 횟수를 알아보기

In [ ]:
# 'year' 칼럼 value의 분포를 연도순서(시간의 흐름)대로 확인하기 위해 value_counts() 와 
#  인덱스 값으로 데이터를 정렬해주는 sort_index()함수를 사용한다
pd.value_counts(train['year']).sort_index()

# 2015년의 밤죄 발생 횟수가 현저히 적다. 
# 이 데이터가 2015년 한 해의 데이터를 전부 포함하고 있지 않을 수 있으니 확인이 필요하다.

2003    73902
2004    73422
2005    70779
2006    69909
2007    68015
2008    70174
2009    69000
2010    66542
2011    66619
2012    71731
2013    75606
2014    74766
2015    27584
Name: year, dtype: int64

#### 12. 월별(month) 범죄 발생 횟수를 알아보기

In [ ]:
# 'month' 칼럼 value의 분포를 월순서(시간의 흐름)대로 확인하기 위해 value_counts() 와 
#  인덱스 값으로 데이터를 정렬해주는 sort_index()함수를 사용한다
pd.value_counts(train['month']).sort_index()

# 10월달에 가장 많은 범죄가 발생했고 12월에 가장 적은 범죄가 발생했으나
# 비교적 범죄가 고르게 발생한 것 처럼 보인다.

1     73536
2     70813
3     76320
4     78096
5     79644
6     70892
7     69971
8     68540
9     71982
10    80274
11    72975
12    65006
Name: month, dtype: int64

#### 13. 요일별(DayOfWeek) 범죄 발생 횟수를 알아보기

In [ ]:
# 'DayOfWeek' 칼럼 value의 분포를 요일대로 확인하기 위해 value_counts() 함수를 사용한다.
pd.value_counts(train['DayOfWeek'])

# 요일별 분포가 고른편이고
# 금요일에 가장 많은 범죄가, 일요일에 가장 적은 범죄가 발생했다.

Friday       133734
Wednesday    129211
Saturday     126810
Thursday     125038
Tuesday      124965
Monday       121584
Sunday       116707
Name: DayOfWeek, dtype: int64

#### 14. 카테고리별(Category) 범죄 발생 횟수를 알아보기

In [ ]:
# 'Category' 칼럼 value의 분포를 범죄 범주별로 확인하기 위해 value_counts() 함수를 사용한다.
pd.value_counts(train['Category'])

# 절도죄가 유난히 많고 other offenses와 non-criminal이 그 뒤를 따른다. 
# Trea, 외설제, 도박 등의 순으로 가장 범죄 횟수가 적다.

LARCENY/THEFT                  174900
OTHER OFFENSES                 126182
NON-CRIMINAL                    92304
ASSAULT                         76876
DRUG/NARCOTIC                   53971
VEHICLE THEFT                   53781
VANDALISM                       44725
WARRANTS                        42214
BURGLARY                        36755
SUSPICIOUS OCC                  31414
MISSING PERSON                  25989
ROBBERY                         23000
FRAUD                           16679
FORGERY/COUNTERFEITING          10609
SECONDARY CODES                  9985
WEAPON LAWS                      8555
PROSTITUTION                     7484
TRESPASS                         7326
STOLEN PROPERTY                  4540
SEX OFFENSES FORCIBLE            4388
DISORDERLY CONDUCT               4320
DRUNKENNESS                      4280
RECOVERED VEHICLE                3138
KIDNAPPING                       2341
DRIVING UNDER THE INFLUENCE      2268
RUNAWAY                          1946
LIQUOR LAWS                      1903
ARSON                            1513
LOITERING                        1225
EMBEZZLEMENT                     1166
SUICIDE                           508
FAMILY OFFENSES                   491
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
Name: Category, dtype: int64

#### 15. null값이 포함된 데이터 필드가 있는지 확인하기

In [ ]:
# isnull().any().sum() 함수로 결측치가 하나라도 존재하는 컬럼의 개수를 확인해본다.
train.isnull().any().sum()

# 결과가 0인 것을 보아 결측치가 전무하다.

0

#### 16. 'Dates','Category','Descript','DayOfWeek','Resolution' 컬럼 삭제하기

In [ ]:
# .drop()함수를 사용하여 지정 컬럼을 삭제한다. 
# 컬럼별 삭제이기에 axis에는 1을 준다. 
train = train.drop(['Dates','Category','Descript','DayOfWeek','Resolution'], axis=1)

In [ ]:
train.head(3)
# 잘 삭제되었음을 알 수 있다.

,PdDistrict,Address,X,Y,year,month,day,dayofweek,hour,minute,X+Y,X-Y,n_days
0,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490,4510
1,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,2,23,53,-84.651293,-160.200490,4510
2,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,2,23,33,-84.623949,-160.224777,4510